#timer-container {
    display: flex;
    background: rgb(76,98,168);
    background: radial-gradient(circle, rgba(76,98,168,0.7350378383775384) 0%, rgba(47,66,97,1) 100%);
    width: 200px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

body {
    margin: 0;
}

#timer {
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
    color: rgb(226, 216, 203);
}

  

button {
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    border-color: rgb(87, 103, 118);
    border-style:groove;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.704);
}